<!DOCTYPE html>
<html>
<head>
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>@ViewBag.Title  Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/Homepage/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">


    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    

   

   


</body>
</html>
