@{
    ViewBag.Title = "Add Type";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<!-- Add Type -->
<section id="my-profile">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <h2>Add Type</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Type *</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Description *</h5>
                        <div class="form-group">
                            <textarea class="form-control" id="category-description" placeholder="Enter your description"></textarea>
                        </div><br>
                    </div>
                </div>

                <a id="btn-submit-admin" class="btn btn-blue" href="#" title="Submit" role="button">Submit</a>

            </div>
        </div>
    </div>
</section>