@{
    ViewBag.Title = "Manage Administrator";
    Layout = "~/Views/Shared/Admin.cshtml";
}


    <!-- Manage Administrator Notes -->
    <section id="published-notes">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12" id="dashboardadmin-heading">
                        <h2>Manage Administrator</h2>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a class="btn btn-admin-addadministrator" href="#" title="Add Administrator" role="button">Add Administrator</a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <input type="text" class="form-control admin-search-textbox" placeholder="Search">
                        <img src="~/images/Dashboard/search-icon.svg" alter="search-icon" id="admin-search-icon">

                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <a class="btn btn-manageadmin-search" href="#" title="Search" role="button">Search</a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-bordless table-published-notes-admin text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Sr No.</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone No.</th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">ACtion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Khayati</td>
                                    <td>Patel</td>
                                    <td>khayatipatel@gmail.com</td>
                                    <td>9897959512</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td>Yes</td>
                                    <td>
                                        <img src="../../images/DashboardAdmin/edit.png" alt="edit" title="edit">&nbsp;&nbsp;
                                        <img src="../../images/DashboardAdmin/delete.png" alt="delete" title="delete">
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Rahul</td>
                                    <td>Shah</td>
                                    <td>rahulshah@gmail.com</td>
                                    <td>9945321851</td>
                                    <td>10-10-2020, 12:30</td>
                                    <td>Yes</td>
                                    <td>
                                        <img src="~/images/DashboardAdmin/edit.png" alt="edit" title="edit">&nbsp;&nbsp;
                                        <img src="~/images/DashboardAdmin/delete.png" alt="delete" title="delete">
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>Suman</td>
                                    <td>Trivedi</td>
                                    <td>sumantrivedi@gmail.com</td>
                                    <td>7852189120</td>
                                    <td>11-10-2020, 01:00</td>
                                    <td>No</td>
                                    <td>
                                        <img src="~/images/DashboardAdmin/edit.png" alt="edit" title="edit">&nbsp;&nbsp;
                                        <img src="~/images/DashboardAdmin/delete.png" alt="delete" title="delete">
                                    </td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td>Raj</td>
                                    <td>Malhotra</td>
                                    <td>rajmalhotra@gmail.com</td>
                                    <td>9852656874</td>
                                    <td>12-10-2020, 10:10</td>
                                    <td>No</td>
                                    <td>
                                        <img src="~/images/DashboardAdmin/edit.png" alt="edit" title="edit">&nbsp;&nbsp;
                                        <img src="~/images/DashboardAdmin/delete.png" alt="delete" title="delete">
                                    </td>
                                </tr>

                                <tr>
                                    <td>5</td>
                                    <td>Niya </td>
                                    <td>Patel</td>
                                    <td>niyapatel12@gmail.com</td>
                                    <td>8516794532</td>
                                    <td>13-10-2020, 11:25</td>
                                    <td>No</td>
                                    <td>
                                        <img src="~/images/DashboardAdmin/edit.png" alt="edit" title="edit">&nbsp;&nbsp;
                                        <img src="~/images/DashboardAdmin/delete.png" alt="delete" title="delete">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Manage Administrators Ends -->
    <!-- Pagination-->
    <section id="pagination">
        <div id="page" class="text-center">
            <div class="row ">
                <img src="~/images/SoldNotes/left-arrow.png" alter="left-arrow" class="left-arrow">
                <ul class="pagination pagination-lg">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                </ul>
                <img src="~/images/SoldNotes/right-arrow.png" alter="right-arrow" class="right-arrow">

            </div>
        </div>
    </section>
    <!-- Pagination Ends-->
    
