@{
    ViewBag.Title = "System Configuartion";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<!-- System Configuration -->
<section id="my-profile">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <h2>Manage System Configuration</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Support emails address *</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Support phone number *</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastname">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Email Address(es) (for various events system will send notifications to these users) *</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Facebook URL</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="secondaryemail">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Twitter URL</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="secondaryemail">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left profile-form">
                        <h5>Linkedin URL</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="secondaryemail">
                        </div><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 upload-profile-picture profile-form">
                        <h5>Default image for notes (if seller do not upload)</h5>
                        <div class="form-group upload-profile-picture">
                            <input type="file" accept="image/*" class="form-control">
                        </div>

                        <div class="uploadmypic">
                            <img src="~/images/MyProfileAdmin/upload-file.png">
                            <h6>Upload a picture</h6>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 upload-profile-picture profile-form">
                        <h5>Default profile picture (if seller do not upload)</h5>
                        <div class="form-group upload-profile-picture">
                            <input type="file" accept="image/*" class="form-control">
                        </div>

                        <div class="uploadmypic">
                            <img src="~/images/MyProfileAdmin/upload-file.png">
                            <h6>Upload a picture</h6>
                        </div>

                    </div>
                </div>

                <a id="btn-submit-admin" class="btn btn-blue" href="#" title="Submit" role="button">Submit</a>

            </div>
        </div>
    </div>
</section>


