@model NotesMarkePlace.Models.User

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>@ViewBag.Title  Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/Homepage/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">


    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>


<body>
    <section id="emailVerification">
        <div class="content-box-md content-box-sm content-box-xs">
            <div id="verification-wrapper" class="container">
                <div class="verification-content">
                    <img src="~/images/Homepage/logo.png" alt="logo" class="img-responsive" style="margin-bottom: 40px;">
                    <h2>Email Verification</h2>
                    <h6 style="margin-left: 10px;">Dear @Model.FirstName @Model.LastName </h6>
                    <p style="margin-left: 10px; margin-bottom: 5px;">Thanks for signing Up.</p>
                    <p style="margin-left: 10px;">Simply click below for email verification.</p>
                   <form action="/RegisteredUsers/EmailVerification" method="post">
                       @Html.HiddenFor(model => model.Id)
                       <button href="#" class="btn btn-primary">verify email address</button>
                   </form>
                </div>
            </div>
        </div>
    </section>



    <!-- JQuery -->
    <script src="../JS/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../JS/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="../JS/script.js"></script>

</body>


</html>