@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/NonRegisteredUsers.cshtml";
}



<!-- FAQ Heading -->
<section id="FAQ">
    <img src="~/images/ContactUs/banner-with-overlay.jpg" alt="banner" class="search">
    <div id="faq-content">
        <div class="container text-center" id="faq-content-inner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="page-heading text-center">
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- FAQ Heading Ends -->
<!-- Questions -->
<section id="Questions">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-heading">
                    <h2>General Questions</h2>
                </div>


                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingOne">
                                <p id="question1">
                                    What is Notes Marketplace?
                                    <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer1" aria-expanded="true" aria-controls="answer1" class="pull-right">
                                </p>
                            </div>

                            <div id="answer1" class="collapse" aria-labelledby="HeadingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Notes Marketplace is an online marketplace for university students to buy and sell their course notes
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingTwo">
                            <p id="question2">
                                Where did Notes Marketplace start?
                                <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer2" aria-expanded="true" aria-controls="answer2" class="pull-right">
                            </p>
                        </div>

                        <div id="answer2" class="collapse" aria-labelledby="HeadingTwo">
                            <div class="card-body">
                                What started out as four friends chucking around an idea in Ahmedabad ended up turning into an
                                earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Uploaders -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-heading">
                    <h2>Uploaders</h2>
                </div>

                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingThree">
                        <p id="question3">
                            Why should I upload now?
                            <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer3" aria-expanded="true" aria-controls="answer3" class="pull-right">
                        </p>
                    </div>

                    <div id="answer3" class="collapse" aria-labelledby="HeadingThree">
                        <div class="card-body">
                            To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are
                            available for purchase the instant they are approved, which means that you could be missing potential
                            sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best
                            time to upload notes is always today.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingFour">
                        <p id="question4">
                            What can't I sell?
                            <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer4" aria-expanded="true" aria-controls="answer4" class="pull-right">
                        </p>
                    </div>

                    <div id="answer4" class="collapse" aria-labelledby="HeadingFour">
                        <div class="card-body">
                            We won't approve materials that have been created by your university or another third party. We also
                            do not accept assignments, essays, practical’s or take-home exams. We love notes though.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingFive">
                        <p id="question4">
                            How long does it take to upload?
                            <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer5" aria-expanded="true" aria-controls="answer5" class="pull-right">
                        </p>
                    </div>

                    <div id="answer5" class="collapse" aria-labelledby="HeadingFive">
                        <div class="card-body">
                            Uploading notes is quick and easy. It can take as little as 90 seconds per set of notes. Put it this way, in
                            the time it took to read these FAQs, you could’ve uploaded several sets of notes.
                        </div>
                    </div>
                </div>




                <!-- Downloaders -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-heading">
                    <h2>Downloaders</h2>
                </div>



                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingSix">
                        <p id="question6">
                            How do I buy notes?
                            <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer6" aria-expanded="true" aria-controls="answer6" class="pull-right">
                        </p>
                    </div>

                    <div id="answer6" class="collapse" aria-labelledby="HeadingSix">
                        <div class="card-body">
                            Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page.
                            You can then filter results by university, category, course information etc. To purchase, go to detail page
                            of note and click on download button. If notes are free to download – it will download over the browser
                            and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for
                            actual download.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingSeven">
                        <p id="question7">
                            Why should I buy notes?
                            <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer7" aria-expanded="true" aria-controls="answer7" class="pull-right">
                        </p>
                    </div>

                    <div id="answer7" class="collapse" aria-labelledby="HeadingSeven">
                        <div class="card-body">
                            The notes on our site are incredibly useful as an educational tool when used correctly. They effectively
                            demonstrate the techniques that top students employ in order to receive top marks. They also
                            summaries the course in a concise format and show what that student believed were the most
                            important elements of the course. Learn from the best.

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-mark-grey card-header" id="HeadingEight">
                        <p id="question8">
                            Will downloading notes guarantee I improve my grades?
                            <img src="~/images/FAQ/add.png" role="button" data-toggle="collapse" data-target="#answer8" aria-expanded="true" aria-controls="answer8" class="pull-right">
                        </p>
                    </div>

                    <div id="answer8" class="collapse" aria-labelledby="HeadingEight">
                        <div class="card-body">
                            How long is a piece of string? However, 90% of students who purchased notes through our site said that
                            doing so improved their grades.
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div> <hr>
</section>
<!-- Questions Ends -->
</html>


